certifi==2026.6.17
charset-normalizer==3.4.7
coverage
idna==3.18
iniconfig==2.3.0
lxml
packaging==26.2
pluggy==1.6.0
Pygments==2.20.0
pytest
pytest-cov
PyYAML==6.0.3
requests
typing_extensions==4.15.0
urllib3
